<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" *ngIf="blog">
    <div *ngFor="let data of blog" >
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            {{data.title}}
          </h2>
          <h3 class="post-subtitle" [innerHTML]="data.description">

          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="#">{{data.userDetails[0].name}}</a> on {{data.userDetails[0].cdt | date:fullDate}} </p>
      </div>
      <hr>
    </div>
    <!-- Pager -->
    <ul class="pager">
      <li class="next">
        <a href="#">Older Posts &rarr;</a>
      </li>
    </ul>
  </div>
</div>
