<div class="col-sm-3 well">
  <div class="well">
    <p>
      <a routerLink="/home/profile-edit/{{userSession.userId}}">My Profile</a>
    </p>
    <img src="../../../../assets/images/boy.png" class="img-circle" height="65" width="65" alt="Avatar">
  </div>
  <div class="well">
    <p>
      <a href="#">Skill(s)</a>
    </p>

    <p>
      <!-- 
      <span *ngFor="let skill of userSession.skill" [ngClass]="{'label label-danger': (skill.proficiencyLevel=='basic') , 'label label-primary': (skill.proficiencyLevel=='average') ,
      'label label-success': (skill.proficiencyLevel=='good') }">{{skill.skill}}
      </span> -->
      <!-- <span class="label label-default" *ngIf="skill.proficiencyLevel=='average'" [ngClass]="{'label label-primary': (skill.proficiencyLevel=='average')}">{{skill.skill}}</span>
      <span class="label label-default" *ngIf="skill.proficiencyLevel=='good'" [ngClass]="{'label label-success': (skill.proficiencyLevel=='good')}">{{skill.skill}}</span> -->
      <label for="" *ngFor="let skill of userSession.skill">
        <!-- <span class="label label-danger">Danger Label</span> -->
        <span class="label label-default" *ngIf="skill.proficiencyLevel=='good'" [ngClass]="{'label label-success': (skill.proficiencyLevel=='good')}">{{skill.skill}}</span>
        <span class="label label-default" *ngIf="skill.proficiencyLevel=='average'" [ngClass]="{'label label-primary': (skill.proficiencyLevel=='average')}">{{skill.skill}}</span>
        <span class="label label-default" *ngIf="skill.proficiencyLevel=='basic'" [ngClass]="{'label label-danger': (skill.proficiencyLevel=='basic')}">{{skill.skill}}</span>

      </label>


    </p>
  </div>
  <div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <p>
      <strong>Ey!</strong>
    </p>
    People are looking at your profile. Find out who.
  </div>
  <p>
    <a href="#">Link</a>
  </p>
  <p>
    <a href="#">Link</a>
  </p>
  <p>
    <a href="#">Link</a>
  </p>
</div>
