<form [formGroup]="addSkill" novalidate>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group has-feedback" [ngClass]="{'has-error': (!skill.valid && skill.touched), 'has-success': (skill.valid && skill.touched)}">
        <label>Skill</label>
        <input class="form-control" type="text" placeholder="skill. i.e. - Mathematics,Physics,C#,MEAN,Node" [formControl]="skill">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group has-feedback" [ngClass]="{'has-error': (!proficiencyLevel.valid && proficiencyLevel.touched), 'has-success': (proficiencyLevel.valid && proficiencyLevel.touched)}">
        <label>Proficiency Level</label>
        <div>
          <div class="checkbox checkbox-inline">
            <input type="radio" formControlName="proficiencyLevel" value="basic"> Basic
          </div>
          <div class="checkbox checkbox-inline">
            <input type="radio" formControlName="proficiencyLevel" value="average"> Average
          </div>
          <div class="checkbox checkbox-inline">
            <input type="radio" formControlName="proficiencyLevel" value="good"> Good
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="form-group has-feedback " [ngClass]="{ 'has-error': (!version.valid && version.touched),
              'has-success': (version.valid && version.touched)} ">
        <label>version?</label>
        <input class="form-control " type="text " placeholder="Version " [formControl]="version ">
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-12 pull-right ">
      <a class="btn vd_btn btn-xs btn-primary " (click)="addSkills() ">
        <i class="fa fa-save append-icon "></i> Add </a>
    </div>
  </div>
  <!-- <h6 class="mt-3">FormGroup Model (
    <code>addSkill.value</code>)</h6>
  <div>
    <pre><code>{{ addSkill?.value | json }}</code></pre>
  </div> -->
</form>
