<!-- Content Header (Page header) -->
<!-- <section class="content-header">
      <h1>
        User Profile
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">User profile</li>
      </ol>
    </section> -->

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="{{userData.image}}" alt="User profile picture">

          <h3 class="profile-username text-center" *ngIf="userData">{{userData.name}}</h3>
          <p class="text-muted text-center">{{userData.profession}}</p>
          <strong>
            <i class="fa fa-file-text-o margin-r-5"></i> About</strong>
          <p *ngIf="userData">{{userData?.about}}</p>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- About Me Box -->
      <!-- <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">About Me</h3>
        </div>
        
        <div class="box-body">
          <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

          <p class="text-muted">
            B.S. in Computer Science from the University of Tennessee at Knoxville
          </p>

          <hr>

          <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

          <p class="text-muted">Malibu, California</p>

          <hr>

          <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

          <p>
            <span class="label label-danger">UI Design</span>
            <span class="label label-success">Coding</span>
            <span class="label label-info">Javascript</span>
            <span class="label label-warning">PHP</span>
            <span class="label label-primary">Node.js</span>
          </p>

          <hr>

          <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
        </div>
        
      </div> -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#profile" data-toggle="tab">Profile</a>
          </li>
          <li>
            <a href="#galary" data-toggle="tab">Galary</a>
          </li>
          <li>
            <a href="#settings" data-toggle="tab">Settings</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="active tab-pane" id="profile">
            <div class="vd_info tr pull-right">
              <a class="btn vd_btn btn-xs vd_bg-yellow" *ngIf="!isEditAbout" (click)="editAbout()">
                <i class="fa fa-pencil append-icon"></i> Edit </a>
              <a class="btn vd_btn btn-xs vd_bg-yellow" *ngIf="isEditAbout" (click)="editAbout()">
                <i class="fa fa-close append-icon"></i> Cancel</a>
            </div>
            <h3 class="mgbt-xs-15 mgtp-10 font-semibold">
              <i class="fa fa-user fa-2x"></i> ABOUT</h3>
            <div class="row" *ngIf="!isEditAbout" [@someCoolAnimation]="'fadeOut'">
              <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                  <label class="col-xs-5 control-label">First Name:</label>
                  <div class="col-xs-7 controls">{{userData.name}}</div>
                  <!-- col-sm-10 -->
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                  <label class="col-xs-5 control-label">Last Name:</label>
                  <div class="col-xs-7 controls">{{userData.lastName}}</div>
                  <!-- col-sm-10 -->
                </div>
              </div>

              <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                  <label class="col-xs-5 control-label">Email:</label>
                  <div class="col-xs-7 controls">{{userData.email}}</div>
                  <!-- col-sm-10 -->
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                  <label class="col-xs-5 control-label">City:</label>
                  <div class="col-xs-7 controls">{{userData.city}}</div>
                  <!-- col-sm-10 -->
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                  <label class="col-xs-5 control-label">Country:</label>
                  <div class="col-xs-7 controls">{{userData.country}}</div>
                  <!-- col-sm-10 -->
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                  <label class="col-xs-5 control-label">State:</label>
                  <div class="col-xs-7 controls">{{userData.state}}</div>
                  <!-- col-sm-10 -->
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                  <label class="col-xs-5 control-label">Pin Code:</label>
                  <div class="col-xs-7 controls">{{userData.pinCode}}</div>
                  <!-- col-sm-10 -->
                </div>
              </div>
              <!-- <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                  <label class="col-xs-5 control-label">Website:</label>
                  <div class="col-xs-7 controls"><a href="http://Vendroid.venmond.com">Vendroid.venmond.com</a></div>
          
                </div>
              </div> -->
              <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                  <label class="col-xs-5 control-label">Phone:</label>
                  <div class="col-xs-7 controls">{{userData.phone}}</div>
                  <!-- col-sm-10 -->
                </div>
              </div>
            </div>
            <div class="row" style="padding: 14px" *ngIf="isEditAbout" [@someCoolAnimation]="'fadeIn'">
              <app-update-about (profileUpdated)='updateProfile($event)' [userData]="userData"></app-update-about>
            </div>
            <hr class="pd-10" />
            <div class="row" *ngIf="!isEditExpEdu" [@someCoolAnimation]="'fadeIn'">
              <div class="col-sm-6">
                <h3 class="mgbt-xs-15 font-semibold">
                  <i class="fa fa-file-text-o mgr-10 profile-icon"></i> EXPERIENCE
                  <div (click)="addExpOrEdu('exp')" class="vd_info tr pull-right">
                    <a class="btn vd_btn btn-xs vd_bg-yellow">
                      <i class="fa fa-pencil append-icon"></i> Add More </a>
                  </div>
                </h3>
                <div class="content-list content-menu">
                  <ul class="list-wrapper" *ngIf="userData.exeperience">
                    <li class="mgbt-xs-10" *ngFor="let data of userData.exeperience | orderBy:'to':false">
                      <span class="menu-icon vd_green">
                        <i class="fa  fa-circle-o"></i>
                      </span>
                      <span class="menu-text">
                        <a href="#">{{data.designation}}</a> at
                        <a href="#">{{data.companyName}}</a>
                        <span class="menu-info">
                          <span class="menu-date"> {{data.from | date:'MMM-yyyy'}} ~ {{data.to | date:'MMM-yyyy'}}</span>
                        </span>
                        <p>{{data.roleResponsibility}}</p>
                        <div class="vd_info tr pull-right">
                          <a class="btn vd_btn btn-xs vd_bg-yellow" (click)="removeData(data,'exp')" data-toggle="modal" data-target="#modal-default">
                            <i class="fa fa-trash append-icon"></i>
                          </a>
                        </div>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6">
                <h3 class="mgbt-xs-15 font-semibold">
                  <i class="fa fa-trophy mgr-10 profile-icon"></i> EDUCATION
                  <div (click)="addExpOrEdu('education')" class="vd_info tr pull-right">
                    <a class="btn vd_btn btn-xs vd_bg-yellow">
                      <i class="fa fa-pencil append-icon"></i> Add More </a>
                  </div>
                </h3>
                <div class="content-list content-menu">
                  <ul class="list-wrapper" *ngIf="userData.education">
                    <li class="mgbt-xs-10" *ngFor="let data of userData.education | orderBy:'classStartFrom':false">
                      <span class="menu-icon vd_green">
                        <i class="fa  fa-circle-o"></i>
                      </span>
                      <span class="menu-text">{{data.nameOfPersuingClass}} at
                        <a href="#">{{data.instituteName}}</a>
                        <span class="menu-info">
                          <span class="menu-date"> {{data.classStartFrom | date:'MMM-yyyy'}} ~ {{data.classStartTo | date:'MMM-yyyy'}}</span>
                        </span>
                        <div class="vd_info tr pull-right">
                          <a class="btn vd_btn btn-xs vd_bg-yellow" (click)="removeData(data,'edu')" data-toggle="modal" data-target="#modal-default">
                            <i class="fa fa-trash append-icon"></i>
                          </a>
                        </div>
                      </span>
                    </li>

                  </ul>

                </div>
              </div>
            </div>
            <div class="row" style="padding: 14px" *ngIf="isEditExpEdu" [@someCoolAnimation]="'fadeIn'">
              <h3 class="mgbt-xs-15 font-semibold">
                <i class="fa fa-file-text-o mgr-10 profile-icon"></i> {{_EditExpEduText}} </h3>
              <div class="vd_info tr pull-right">
                <a class="btn vd_btn btn-xs vd_bg-yellow" *ngIf="isEditExpEdu" (click)="addExpOrEdu('')">
                  <i class="fa fa-close append-icon"></i> Cancel</a>
              </div>
              <app-add-exeperience *ngIf="!loadEducation" (getExeperience)='updateExeperienc($event)' [userData]="userData"></app-add-exeperience>
              <app-add-education *ngIf="loadEducation" (getEducation)='updateExeperienc($event)' [userData]="userData"></app-add-education>
            </div>
            <!-- row -->
            <hr class="pd-10" />
            <div class="row">
              <!-- <div class="col-sm-7">
                <h3 class="mgbt-xs-15 font-semibold"><i class="fa fa-globe mgr-10 profile-icon"></i> ACTIVITY</h3>
                <div class="">
                  <div class="content-list">
                    <div data-rel="scroll">
                      <ul class="list-wrapper">
                        <li> <span class="menu-icon vd_yellow"><i class="fa fa-suitcase"></i></span> <span class="menu-text"> Someone has give you a surprise <span class="menu-info"><span class="menu-date"> ~ 12 Minutes Ago</span></span>
                          </span>
                        </li>
                        <li> <span class="menu-icon vd_blue"><i class=" fa fa-user"></i></span> <span class="menu-text"> Change your user profile details <span class="menu-info"><span class="menu-date"> ~ 1 Hour 20 Minutes Ago</span></span>
                          </span>
                        </li>
                        <li> <span class="menu-icon vd_red"><i class=" fa fa-cogs"></i></span> <span class="menu-text"> Your setting is updated <span class="menu-info"><span class="menu-date"> ~ 12 Days Ago</span></span>
                          </span>
                        </li>
                        <li> <span class="menu-icon vd_green"><i class=" fa fa-book"></i></span> <span class="menu-text"> Added new article <span class="menu-info"><span class="menu-date"> ~ 19 Days Ago</span></span>
                          </span>
                        </li>
                        <li> <span class="menu-icon vd_green"><img alt="example image" src="img/avatar/avatar.jpg"></span>
                          <span
                            class="menu-text"> Change Profile Pic <span class="menu-info"><span class="menu-date"> ~ 20 Days Ago</span></span>
                            </span>
                        </li>
                        <li> <span class="menu-icon vd_red"><i class=" fa fa-cogs"></i></span> <span class="menu-text"> Your setting is updated <span class="menu-info"><span class="menu-date"> ~ 12 Days Ago</span></span>
                          </span>
                        </li>
                        <li> <span class="menu-icon vd_green"><i class=" fa fa-book"></i></span> <span class="menu-text"> Added new article <span class="menu-info"><span class="menu-date"> ~ 19 Days Ago</span></span>
                          </span>
                        </li>
                        <li> <span class="menu-icon vd_green"><img alt="example image" src="img/avatar/avatar.jpg"></span>
                          <span
                            class="menu-text"> Change Profile Pic <span class="menu-info"><span class="menu-date"> ~ 20 Days Ago</span></span>
                            </span>
                        </li>
                      </ul>
                    </div>
                    <div class="closing text-center" style=""> <a href="#">See All Activities <i class="fa fa-angle-double-right"></i></a> </div>
                  </div>
                </div>
              </div> -->
              <!-- col-sm-7 -->
              <div class="col-sm-5" [@someCoolAnimation]="'fadeIn'">
                <h3 class="mgbt-xs-15 font-semibold">
                  <i class="fa fa-flask mgr-10 profile-icon"></i> SKILL
                  <div class="vd_info tr pull-right">
                    <a class="btn vd_btn btn-xs vd_bg-yellow" *ngIf="!editSkills" (click)="AddSkills()" data-toggle="modal" data-target="#modal-default">
                      <i class="fa fa-pencil append-icon"></i> Add More </a>
                    <a class="btn vd_btn btn-xs vd_bg-yellow" *ngIf="editSkills" (click)="AddSkills()">
                      <i class="fa fa-close append-icon"></i> Cancel</a>

                  </div>
                </h3>
                <div class="row" style="margin-left: 5px" *ngIf="!editSkills">
                  <ul class="todo-list" *ngIf="userData.skill">
                    <li *ngFor="let data of userData.skill | orderBy:'skill':true">
                      <div class="progress" style="margin-top: 2px">
                        <div role="progressbar" class="col-md-4" style="text-align:center" aria-valuenow="data.proficiencyLevel" aria-valuemin="0"
                          aria-valuemax="100" [style.width]="data.proficiencyLevel+'%'" [ngClass]="{'progress-bar progress-bar-success': (data.proficiencyLevel>=75),
                                       'progress-bar progress-bar-yellow': (data.proficiencyLevel>=60 && data.proficiencyLevel<75),
                                       'progress-bar progress-bar-danger': (data.proficiencyLevel>=30 && data.proficiencyLevel<60)}">
                          {{data.skill}}
                        </div>
                        <div class="tools">
                          <i (click)="removeData(data,'skill')" class="fa fa-trash-o"></i>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>


              </div>

              <!-- col-sm-7 -->
            </div>
            <div class="row" *ngIf="editSkills" class="row" style="margin: 14px" [@someCoolAnimation]="'fadeIn'">
              <app-add-skill (updateSkill)='updateSkill($event)' [userData]="userData"></app-add-skill>

            </div>
            <!-- row -->

          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="galary">
            <app-user-gallary [userData]="userData"></app-user-gallary>
            
          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="settings">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputName" placeholder="Name">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputName" placeholder="Name">
                </div>
              </div>
              <div class="form-group">
                <label for="inputExperience" class="col-sm-2 control-label">Experience</label>

                <div class="col-sm-10">
                  <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="inputSkills" class="col-sm-2 control-label">Skills</label>

                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> I agree to the
                      <a href="#">terms and conditions</a>
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-danger">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</section>

<!-- /.modal -->
<!-- <div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Update About</h4>
      </div>
      <div class="modal-body">
        <app-update-about [userData]="userData"></app-update-about>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    
  </div>
  
</div> -->
