.vd_bg-yellow {
  background-color: #f89c2c !important;
}

.vd_bg-red {
  background-color: red !important;
}

.box-primary {
  border-top-color: #4caf50 !important;
}

.nav-tabs-custom>.nav-tabs>li.active {
  border-top-color: #4caf50 !important;
}

.content-list .list-wrapper {
  margin: 0;
  padding: 0;
}

.list-wrapper {
  list-style-type: none;
}

.vd_green {
  color: #4caf50
}

.vd_green>li>a {
  color: #4caf50 !important
}

.menu-text>a {
  color: #4caf50 !important
}

.content-list .list-wrapper {
  margin: 0;
  padding: 0
}

.content-list .list-wrapper>li {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
  border-bottom: 1px solid #EEE;
  position: relative;
  text-align: left
}

.content-list .list-wrapper>li:before,
.content-list .list-wrapper>li:after {
  content: " ";
  display: table
}

.content-list .list-wrapper>li:after {
  clear: both
}

.content-list .list-wrapper>li>a {
  display: block
}

.content-list .list-wrapper>li:hover {
  background: #F5F5F5
}

.content-list .list-wrapper>li.warning {
  background-color: #fff5de
}

.content-list .list-wrapper>li:last-child {
  border-bottom: none
}

.content-list .wrap-10 li {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px
}

.content-list .wrap-15 li {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px
}

.content-list .wrap-20 li {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px
}

.content-list .wrap-25 li {
  margin-left: -25px;
  margin-right: -25px;
  padding-left: 25px;
  padding-right: 25px
}

.content-list .no-bd-btm li {
  border-bottom: none
}

.content-list .menu-icon {
  display: block;
  float: left;
  width: 16px;
  text-align: center;
  font-size: 14px
}

.content-list .progress {
  margin-bottom: 5px;
  height: 15px;
  line-height: 15px
}

.content-list .menu-badge {
  position: absolute;
  right: 10px;
  top: 3px
}

.content-list .menu-text {
  display: block;
  margin-left: 26px;
  text-transform: none;
  padding-right: 15px
}

.content-list .menu-info {
  font-size: 12.4px;
  font-style: italic;
  color: #939ba2;
  text-transform: capitalize;
  display: block
}

.content-list .menu-action {
  margin-left: 10px
}

.content-list .menu-action .menu-action-icon {
  text-align: center;
  display: inline-block;
  height: 22px;
  width: 22px;
  line-height: 20px;
  margin-left: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px
}

.content-list .menu-action .menu-action-icon:hover {
  color: #1fae66;
  border-color: #1fae66
}

.content-list ul li.align-right .menu-icon {
  float: right;
  margin-right: 0;
  margin-left: 12px
}

.content-list ul li.align-right .menu-text {
  text-align: right;
  margin-right: 26px;
  margin-left: 0;
  padding-right: 0;
  padding-left: 15px
}

.content-list ul li.align-right .menu-text .menu-info .menu-action {
  margin-left: 0;
  margin-right: 10px
}
.content-list ul li.align-right .menu-badge {
  right: auto;
  left: 0
}
.content-list .line {
  border-top: 1px solid #EEE;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding: 0 !important
}
.todo-list>li {
  padding: 0px !important;
 
}