<div class="intro-display-widget">
  <div class="card-display">
    <div class="face" [style.background]="'url('+profileData.facebookImage+')'">

    </div>
    <div class="details">
      <h4 class="name"> {{profileData.name}} </h4>
      <ul>
        <li>
          <i class="fi-torso"> </i> {{profileData.state}} </li>
        <li>
          <i class="glyphicon glyphicon-map-marker"></i>{{profileData.state}},{{profileData.country}}

        </li>
        <li>
          <i class="glyphicon glyphicon-envelope"></i>{{profileData.email}}
        </li>
      </ul>
    </div>
  </div>
  <div class="desc">
    A young front end geek interested in modern yet open web technologies. Passionate about humanizing products. HCI Practitioner.
    SASS Lover. Internet of things.
  </div>
</div>


<!-- <div class="well well-sm">
  <div class="row">
    <div class="col-sm-4">
      <img src="{{profileData.image}}" alt="" class="img-rounded img-responsive" />
    </div>
    <div class="col-sm-8">
      <h4>{{profileData.name}}</h4>
      <small>
        <cite title="">{{profileData.state}},{{profileData.country}}
          <i class="glyphicon glyphicon-map-marker"></i>
        </cite>
      </small>
      <div>
        <span>
          <i class="glyphicon glyphicon-envelope"></i>{{profileData.email}}</span>
      </div>
      <div>
        <span>
          <i class="glyphicon glyphicon-phone"></i>{{profileData.phone}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>
        About
      </h3>
      <p>
        {{profileData.about}}
      </p>
    </div>
  </div>
</div> -->
