<!-- Navigation -->

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">@pawanjha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link">
            <span class="sr-only">(current)</span>
        </a>
        </li>
        <li class="nav-item">
          <label class="loginText" for="loginName">User Name</label>
          <input type="text" class="input-sm">
        </li>
        <li class="nav-item">
          <label class="loginText" for="loginName">Password </label>
          <input type="text" class="input-sm">
        </li>
        <li class="nav-item">
          <input type="button" value="Log in" (click)="popToast()" class="btn btn-primary login">
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- <div id="login-box">

  <div class="left">
    <h1>Sign up</h1>
    <form [formGroup]="loginpage">

      <div class="form-group has-feedback" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
        <input type="text" [formControl]="email" placeholder="E-mail">
        <div class="bar" translate *ngIf="!email.valid &&  email.touched">
          Email is not valid.
        </div>
      </div>
      <div class="form-group has-feedback" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <input type="password" [formControl]="password" placeholder="Password">
        <div class="bar" class="dnager" translate *ngIf="!password.valid &&  password.touched">
          Password must be min. 5 character.
        </div>
      </div>
      <div class="form-group has-feedback" [ngClass]="{'has-error': (!reTypePassword.valid && reTypePassword.touched), 'has-success': (reTypePassword.valid && reTypePassword.touched)}">
        <input type="password" [formControl]="reTypePassword" placeholder="Retype Password">
        <div class="bar" class="dnager" translate *ngIf="!reTypePassword.valid &&  reTypePassword.touched && _retypePassword!=password.value">
          Password and confirm password does not matched.
        </div>
      </div>

      <input type="submit" [disabled]="!loginpage.valid" (click)="register()" name="signup_submit" value="Sign me up" />
    </form>

  </div>

  <div class="right">
    <span class="loginwith">Sign in with</span>

    <button (click)="socialSignIn('facebook')" class="social-signin facebook">Log in with facebook</button>
    <button (click)="socialSignIn('google')" class="social-signin google">Log in with Google</button>
  </div>
  <div class="or">OR</div>
  <div class="col-sm-12">
    <span class="error">{{errorMessage}}</span>
  </div>
</div> -->
<!-- 

'Golazo' App Login Page Concept utilizing Velocity.js & SVG animation techniques.

Inspirations:
+Anton Aheichanka - https://dribbble.com/shots/1945593-Login-Home-Screen?list=users&offset=4
+Nicolay Talanov - https://codepen.io/suez/pen/dPqxoM

-->

<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="logo">Contribute Skills</div>
      </div>
      <div class="col-sm-7 hidden-xs">
        <div class="row">
          <form [formGroup]="login">
            <div class="col-sm-5">
              <div class="form-group has-feedback" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
                <input type="text" [formControl]="email" autocomplete="off" class="form-control" placeholder="Email Address">
                <div class="login-bottom-text checkbox hidden-sm">
                  <label>
                    <input type="checkbox" id=""> Keep me sign in
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group has-feedback" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                <input type="password" autocomplete="off" [formControl]="password" class="form-control" placeholder="Password">
                <div class="login-bottom-text hidden-sm"> Forgot your password? </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <input type="button" (click)="appLogin()" value="login" class="btn btn-default btn-header-login">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<article class="container">

  <div class="row">
    <div class="col-sm-8">


      <div class="login-main">

        <h4>
          <i class=""></i> Contribute skill(s) help you to elaborate your skill to world.</h4>
        <span></span>

        <!-- <h4>
          <i class="fa fa-money"></i> 100% fully responsive </h4>
        <span>Another description text about the template goes here</span>

        <h4>
          <i class="fa fa-mobile-phone"></i> Competible with all browers and mobile devices</h4>
        <span>Yet another sample description text can be placed in one line</span>

        <h4>
          <i class="fa fa-trophy"></i> Easy to use and custmize with mobile friendly and responsive</h4>
        <span>Your last description text about your startup or business</span> -->
      </div>

    </div>
    <div class="col-sm-4">
      <div class="">

        <h3>
          <i class="fa fa-shield"></i> Register now</h3>
        <hr>
        <app-sigup></app-sigup>

      </div>
    </div>
  </div>

</article>

<footer class="container">
  <!-- <hr>
  <div class="footer-options">
    <ul>
      <li>
        <a href="#">Mobile</li>
      <li>
        <a href="#">Find Friends</li>
      <li>
        <a href="#">Badges</li>
      <li>
        <a href="#">People</li>
      <li>
        <a href="#">Pages</li>
      <li>
        <a href="#">Places</a>
      </li>
      <li>
        <a href="#">Games</a>
      </li>
      <li>
        <a href="#">Locations</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
    </ul>
  </div>
  <div style="clear:both"></div>
  <small class="copyrights"> © Copyrights reserved 2014</small> -->
</footer>
